.taskboardHeader {
  margin-bottom: 1rem;
  background-color: var(--color-bg-primary);
  padding: 1rem;
  border-radius: 8px;
}

.taskboardHeaderTitle {
  font-size: 1.5rem;
  color: var(--color-text-light);
  margin: 0;
}
