.taskboardColumn {
  flex-shrink: 0;
  width: 280px;
  height: fit-content;
  background-color: var(--color-bg-primary);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.taskboardColumnTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color-text-light);
}

.taskboardColumnActions {
  display: flex;
  gap: 8px;
}
